html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background-color: #c7ceea;
    margin: 5vh 0 0 0;
}

body::after {
    content: "";
}

@media (max-height: 700px), (max-width: 1300px) {
    body::after {
        content: "Screen too small!";
        height: 250px;
        width: 500px;
        text-align: center;
        line-height: 250px;
        border-color: black;
        border-style: double;
        background-color: rgb(202, 160, 98);
        border-width: 10px;
        font-size: 50px;
        position: absolute;
        top: calc(50% - 160px);
        left: calc(50% - 250px);
        z-index: 5;
    }

    #waitingscreen{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(128, 128, 128, 0.807);
        z-index: 1;
    }
}